@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  
}

body {
  color: rgb(var(--foreground-rgb));
  ._hidden {
    clip:rect(1px,1px,1px,1px);
    clip-path:inset(50%);
    width:1px;
    height:1px;
    margin:0;
    padding:0;
    border:0;
    overflow:hidden;
  };
}
